################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesignPatterns/DesignTimeBuild
/.vs/DesignPatterns/FileContentIndex
/.vs/DesignPatterns/v17
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/DesignPatterns/bin/Debug/net6.0
/DesignPatterns/bin/Release/net6.0
/DesignPatterns/obj
